---
# File: tasks/main.yml - Ansible Hubot main tasks

# CentOS tasks
- include: CentOS.yml
  when: ansible_distribution  == "CentOS"

# Ubuntu tasks
- include: Ubuntu.yml
  when: ansible_distribution  == "Ubuntu"

- name: Install hubot external git scripts
  sudo: False
  git: repo={{ item.repo_url }} dest={{ hubot_dir }}/node_modules/{{ item.name }}
  with_items: "hubot_external_git_scripts"
  when: hubot_external_git_scripts is defined
  notify:
    - restart hubot
  tags:
    - hubot_scripts

