#
# File: hubot.env - Hubot variables for HipChat and more
#

{% for key, value in hubot_env.iteritems() -%}
{{ key }}={{ value }}
{% endfor %}

export {% for key, value in hubot_env.iteritems() -%}{{ key }}{{- ' ' if not loop.last else '' }}{% endfor %}
