#!/usr/bin/env bash
#
# File: start-hubot.sh.j2 - A startup script template for Hubot
#

# Start Hubot in the background

source {{ hubot_nvm_dir }}/nvm.sh
nvm use {{ hubot_node_version }}

cd {{ hubot_dir }}
source {{ hubot_identity }}.env

bin/hubot --adapter {{ hubot_adapter }} {% if hubot_alias is defined %}--alias {{ hubot_alias }} {% endif %}>> {{ hubot_dir }}/log/hubot.log 2>&1
